{% include "OMTBApp/header.html" %}
<html>

<head>
    <title>Shows</title>
</head>

<body>
    <div style="width:450px;margin:30px auto">
    <br/>
    <br/>
    <br/>
        <fieldset>

            <legend><i><b><h1 style="align:center; color:green;">Add New Show's</h1></b></i></legend>
            <br/>
            <form action='addshow' method="POST">
                {% csrf_token %}

                <table cellpadding="8px" cellspacing="10px" align=center style="font-size: 18px;">
                    <tr>
                        <td><label>Select Movie:</label>

                        </td>
                        <td>
                            <select name="movie">
                            <option value="">select</option>
                            {% for movie in movielist %}
                            <option value="{{movie.movieId}}">{{movie.movieName}}</option>
                            {% endfor %}
                        </select>
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            <lable>Theater Name Location:</lable>
                        </td>
                        <td><input type="text" name="theaterNameLocation" placeholder="Theater Name Location"> </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>Screen : </lable>
                        </td>
                        <td><select name="screen">
                            <option value="select">select</option>
                            <option value="Screen 1">Screen 1</option>
                            <option value="Screen 2">Screen 2</option>
                            <option value="Screen 3">Screen 3</option>
                            <option value="Screen 4">Screen 4</option>
                        </select> </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>Show Dates:</lable>
                        </td>
                        <td><input type="text" name="showDate" placeholder="show Date"> </td>
                    </tr>

                    <tr>
                        <td>
                            <lable>Show Time:</lable>
                        </td>
                        <td><input type="text" name="showTime" placeholder="Show Time"> </td>
                    </tr>

                    <tr>
                        <td>
                            <lable>Prices:</lable>
                        </td>
                        <td><input type="text" name="showPrice" placeholder="Prices"> </td>
                    </tr>




                    <tr>
                        <td colspan="2" align="right"><input type='submit' name='Add shows' /></td>
                        <td><input type="reset" name='Reset'></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{status}}
                        </td>
                    </tr>
                </table>
    </div>

    </form>
    </fieldset>
</body>

</html>

<br/> {% include "OMTBApp/footer.html" %}