<!DOCTYPE html> {% load static %} {% include "OMTBApp\header.html" %}

<html>

<body>
    <br/>
    <legend>
        <h1 style="color:green;">Forget Password</h1>
    </legend>

    <table>


        <form action='forgetpassword' method="POST">
            {% csrf_token %}

            <tr>
                <td> <label> Customer EmailId </label>
                    <td>
                        <td> <input type="text" name="custEmailId" id="custEmailId">
                        </td>
            </tr>

            <tr>
                <td> <label> Customer Contact No. </label>
                    <td>
                        <td> <input type="text" name="custContactNo" id="custContactNo">
                        </td>
            </tr>

            <tr>
                <td> <label> New Password </label>
                    <td>
                        <td> <input type="password" name="custPassword" id="custpassword">
                        </td>
            </tr>


            <tr>
                <td colspan="6" align="right"><input type="submit" name="Update"></td>
            </tr>
            <tr>
                <td colspan="2">
                    {{status}}
                </td>
    </table>
    </form>
</body>

</html>

{% include "OMTBApp/footer.html" %}